---
# index
---

@import "nav-vars";

#main-content {

    height: 100%;
    width: calc(100% - (2 * #{$main-side-padding}));
    position: relative;
    padding: 0px $main-side-padding 0px $main-side-padding;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-family: serif;
    font-size: 40px;
    letter-spacing: 1px;

    transform: translateY(-#{$nav-ov-height});

    .typed-cursor {
        font-family: sans-serif;
        font-weight: 100;
        font-size: 40px;
        margin-left: 2px;
        transform: translateY(-5px);
    }

}